<!DOCTYPE html>
<html>
<head>
    <title>Stovyklavimo Projektas</title>
    <style>
        /* CSS stiliai kaip anksčiau */
    </style>
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'index' %}">Pradžia</a></li>
            <li><a href="{% url 'add_stovyklaviete' %}">Pridėti stovyklavietę</a></li>
            <li><a href="{% url 'info' %}">Informacija</a></li>
            <li><a href="{% url 'about' %}">Apie mus</a></li>
        </ul>
    </nav>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
    <div id="footer">
        &copy; {{ year }} Stovyklavimo Projektas
    </div>
</body>
</html>
