{% extends "base.html" %}

<nav>
    <ul>
        <li><a href="{% url 'pagrindinis' %}">Pradžia</a></li>
        <li><a href="{% url 'add_stovyklaviete' %}">Pridėti stovyklavietę</a></li>
        <li><a href="{% url 'info' %}">Informacija</a></li>
        <li><a href="{% url 'about' %}">Apie mus</a></li>
    </ul>
</nav>

{% block content %}
<h1>Sveiki atvykę į stovyklaviečių puslapį!</h1>
<p>Čia rasite informaciją apie skirtingas stovyklavietes visoje Lietuvoje.</p>


<form method="get" action="{% url 'search_stovyklavietes' %}">
  <input type="text" name="q" placeholder="Paieška...">
  <button type="submit">Ieškoti</button>
</form>

{% for stovyklaviete in stovyklavietes %}
  <div class="stovyklaviete">
    <h2>{{ stovyklaviete.pavadinimas }}</h2>
    <p>Vieta: {{ stovyklaviete.vieta }}</p>
    <p>Koordinatės: {{ stovyklaviete.koordinates }}</p>
    <p>Papildoma informacija: {{ stovyklaviete.papildoma_info }}</p>
    <p>Regionas: {{ stovyklaviete.regionas }}</p>
    <h3>Privalumai:</h3>
    <ul>
      {% for privalumas in stovyklaviete.privalumas_set.all %}
        <li>{{ privalumas.pavadinimas }}</li>
      {% endfor %}
    </ul>
  </div>
{% endfor %}
{% endblock %}